/* ========== MOBILE ========== */
.explorar__titulo h2 {
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    margin-top: 40px;
}
.buscar__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    
}
.explorar__busqueda {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.buscador__proyectos i {
    font-size: 18px;
    color: #666;
}
.buscador__input {
    border: none;
    font-size: 16px;
    padding: 5px;
    background-color: transparent;
}
.explorar__categorias select {
    width: 55%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}

/* ========== EXPLORAR PROYECTOS - TABLET ========== */
@media (min-width: 768px) {
    .buscar__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        padding: 20px;
    }

    .explorar__busqueda {
        width: 70%;
    }

    .explorar__categorias select {
        width: 60%;
    }

    .explorar__titulo h2 {
        font-size: 30px;
    }
}

/* ========== EXPLORAR PROYECTOS - DESKTOP ========== */
@media (min-width: 1025px) {
    .main__container {
        margin: 0 auto;
    }

    .explorar__titulo h2 {
        font-size: 32px;
        margin-bottom: 40px;
    }

    .buscar__container {
        gap: 40px;
    }

    .explorar__busqueda {
        padding: 15px 20px;
    }

    .explorar__categorias select {
        font-size: 18px;
        padding: 12px;
    }
}